body
{
    background-color:rgb(5, 5, 10);
}
h1{
    font-family:"Doto";
    text-align: center;
    font-size:50px;
}
.TitrePrincipal{
    border-radius: 10px;
    background-color:rgb(90, 173, 90);
}
.bannière_de_services{
    text-align: center;
    table{
        margin:auto;
        border-spacing: 100px;
        }
    th{
        font-family:"Doto";
        background-color: rgb(168, 213, 162);
        padding:10px;
        border-radius:10px;
        transition: transform 0.3s ease;
    }
    th:hover{
        transform: scale(1.3);
    }
    a{
        text-decoration: none;
        color:black;
        font-size:1.7em;
    }
}
h3{
    background-color:rgb(200, 169, 110);
    border-radius:10px;
    text-align: center;
    font-size:1.7em;
    font-family:"Doto";
}
.BannièreFilms{
    display: flex;
    gap: 80px;
    overflow: hidden;
}
.BannièreFilms img{
    width: 200px;
    height: 300px;
    margin:10px;
    border-radius:10px;
    background-size: cover;	
    flex-shrink: 0;
    animation-name: HorizontalScroll;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    animation-duration: 10s;
}
@keyframes HorizontalScroll {
	from {transform: translateX(0) }
	to {transform: translateX(calc(-751%));}
}
.BannièreSeries{
    display: flex;
    gap: 80px;
    overflow: hidden;
}
.BannièreSeries img{
    width: 200px;
    height: 300px;
    margin:10px;
    border-radius:10px;
    background-size: cover;	
    flex-shrink: 0;
    animation-name: HorizontalScroll;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    animation-duration: 10s;
}
.PartieInfosBas{
    background-color:rgb(26, 58, 26);
    border-radius:10px;
    color:rgb(240, 235, 224);
    table{
        margin:auto;
        border-spacing: 15px;
    }
}